#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  background-color: #364246;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  width: 80%;
  height: 100%;
  margin: 20px auto;
}

.card p {
  color: #ffffff;
  font-size: 16px;
}

.card b {
  font-weight: bold;
  color: #ffffff;
}
button {
  margin-top: 1rem;
  background-color: black;
  border: 2px solid #ceff48;
  color: #ceff48;
}
button:hover {
  box-shadow: 0 0 6px 2px #ceff48;
}
.file-upload {
  margin-top: 1rem;
  background-color: black;
  border: 2px solid #ceff48;
  color: #ceff48;
}
